html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {

    background-color: rgb(190, 190, 190);
    font-family: 'Poppins', sans-serif;

}
a {
    font-family: 'Lora', serif;
}

h1 {
    font-family: 'Matemasie'
}
.titulo-inicio {
    transition: color 0.3s ease;
}

.titulo-inicio:hover {
    color: gray; 
}
.titulo-agua {
    transition: color 0.3s ease;
}

.titulo-agua:hover {
    color: blue; 
}
.titulo-fogo {
    transition: color 0.3s ease;
}

.titulo-fogo:hover {
    color: red; 
}
.titulo-grama {
    transition: color 0.3s ease;
}

.titulo-grama:hover {
    color: green; 
}

.margin {

    margin: 200px; 

}

.container {
    text-align: center;
}

.container img {
    max-width: 100%;
    height: auto;
}

.tamanho {

    font-size: 50px
}

#fundo_azul{

    background-color: #A3D9E6;
}

#fundo_vermelho{

    background-color: #F9A3A3;
}
#fundo_verde{

    background-color: #A8E6A3;
}

img {
    width: 800px;
}

.imagem-pequena {
    width: 80px;
}